EMBEDDING_API_URL=https://api.example.com/embed/image
EMBEDDING_API_KEY=
EMBEDDING_TIMEOUT_SECONDS=30
AERIAL_API_URL=
AERIAL_EXPAND_FACTOR=1.4142135623730951
AERIAL_TARGET_SIZE_RATIO=0.15
AERIAL_WMS_GEO_PATH=/image/wms/geo
AERIAL_WMS_LIGHT_PATH=/image/wms/light
AERIAL_G2I_PATH=/image/g2i
UVICORN_HOST=127.0.0.1
UVICORN_PORT=8000
UVICORN_RELOAD=false
